PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/srms?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=7d
NODE_ENV=development
# In production, set NODE_ENV=production so Express serves the React build
# CLIENT_ORIGIN=http://your-ec2-public-ip:5000
